version: '3.8'

services:
  n8n:
    image: n8nio/n8n:latest
    container_name: n8n
    restart: unless-stopped
    ports:
      - '5678:5678'
    environment:
      - N8N_HOST=n8n.vuhnger.dev
      - N8N_PORT=5678
      - N8N_PROTOCOL=https
      - WEBHOOK_URL=https://n8n.vuhnger.dev/
      - N8N_SECURE_COOKIE=true
      - N8N_TRUST_PROXY=true
      - GENERIC_TIMEZONE=Europe/Oslo
      - TZ=Europe/Oslo
    volumes:
      - ./n8n_data:/home/node/.n8n
    networks:
      - n8n-network

networks:
  n8n-network:
    driver: bridge
